.BkgImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(0, 0, 0);
}
.suggestedImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
}